<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in room_messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}



    {% endblock content %}

</body>
</html>